@using StravaVisualizer.Models.MonthSummary
@model MonthSummary
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center margin-bottom">
    <h1 class="display-4">Visuals for your Strava data</h1>
    <p>View all of your activity history on a map.</p>
</div>



<div id="homeDiv" class="wrapper">
    <h3 class="text-center">Active days this month</h3>
    <div id="calendarDiv">
        <div class="container-flex-center margin-bottom">
            <img id="home_image_left" class="home-image margin-right container-with-shadow" src="~/Images/Home_GroundControl1.jpg" />
            <div id="datepicker" class="fixed-med margin-right container-with-shadow"> </div>
            <img id="home_image_left" class="home-image container-with-shadow" src="~/Images/Home_DanLLShuttle.jpg" />
        </div>
    </div>

    <h3 class="text-center">Activites this week</h3>
    <div id="weeklyTableDiv" class="container-center container-with-shadow ">
        <table id="weeklyTable" style="width:100%">
            <thead class="table-row.header">
                <tr class="bg-dark text-light">
                    <th>Name</th>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>

                @if (User.Identity.IsAuthenticated)
                {
                    @foreach (var activity in Model.Activites)
                    {
                        if ((activity.Summary.StartDate.Value.Date.Day >= Model.WeekStartDate.Day) && (activity.Summary.StartDate.Value.Date.Day <= Model.WeekStartDate.Day + 6))
                        {
                            <tr>
                                <td>@activity.Summary.Name</td>
                                <td>@(Math.Round((float)activity.Summary.Distance / (float)1609.344)) miles</td>
                                <td>@(TimeSpan.FromSeconds((double)activity.Summary.ElapsedTime))</td>
                                <td>@activity.Summary.Type</td>
                                <td>@activity.Summary.StartDate.Value.Date.ToShortDateString()</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td>Lunch Run</td>
                        <td>4 mi</td>
                        <td>30:00</td>
                        <td>Run</td>
                        <td>Oct 15</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Scripts{

    <script>
        @if (User.Identity.IsAuthenticated)
        {
            @:var activeDates = {}
            foreach (var activity in Model.Activites)
            {
                @: var csharpDate = "@activity.Summary.StartDate.Value.Date.ToString()"
                @: var date = new Date(Date.parse(csharpDate))
                @: activeDates[date] = date.toString()
            }

            @:var eventDates = {}
            @:eventDates[new Date('10/10/2019')] = new Date('10/10/2019').toString()
            @:$(function () {
            @:    $("#datepicker").datepicker({
            @:        beforeShowDay: function (date) {
            @:              var highlight = activeDates[date]
            @:              if (highlight) {
            @:                    console.log("highlighting" + date)
            @:                    return [true, "activity", '']
            @:                }
            @:                else {
            @:                  return [true, '', '']
            @:                }
            @:            }
            @:        });
            @:});
        }
        else
        {
            @:$(function () {
            @:    $("#datepicker").datepicker();
            @:})
        }

        $(document).ready(function () {
            $('#weeklyTableDiv')({
                'width': ($("#homeDiv").width() + 'px')
            })
        })

        $(document).ready( function () {
            $('#weeklyTable').DataTable({
                paging: false,
                searching: false,
            })
        })
    </script>
}


