@using StravaVisualizer.Models.MonthSummary
@model MonthSummary
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visuals for your Strava data</h1>
    <p>View all of your activity history on a map.</p>
</div>



<div>
    <div class="container-flex margin-bottom">
        <div id="datepicker" class="fixed-med margin-right container-with-shadow"></div>
        <div id="mapContainer" class="flex-large container-with-shadow ">
            <div id="mapDiv" style="position:relative; width:100%;height:100%;"></div>
        </div>
    </div>

    <h3 class="text-center">Activites this week</h3>
    <div id="weeklyTableDiv" class="container-flex-center container-with-shadow">
        <table id="weeklyTable" style="width:100%">
            <thead class="table-row.header">
                <tr>
                    <th class="bg-light-grey">Name</th>
                    <th class="bg-light-grey">Distance</th>
                    <th class="bg-light-grey">Time</th>
                    <th class="bg-light-grey">Type</th>
                    <th class="bg-light-grey">Date</th>
                </tr>
            </thead>
            <tbody>

                @if (User.Identity.IsAuthenticated)
                {
                    @foreach (var activity in Model.Activites)
                    {
                        if ((activity.Summary.StartDate.Value.Date.Day >= Model.WeekStartDate.Day) && (activity.Summary.StartDate.Value.Date.Day <= Model.WeekStartDate.Day + 6))
                        {
                            <tr>
                                <td>@activity.Summary.Name</td>
                                <td>@activity.Summary.Distance m</td>
                                <td>@activity.Summary.ElapsedTime</td>
                                <td>@activity.Summary.Type</td>
                                <td>@activity.Summary.StartDate.Value.Date.ToShortDateString()</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td>Lunch Run</td>
                        <td>4 mi</td>
                        <td>30:00</td>
                        <td>Run</td>
                        <td>Oct 15</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    
    <script>
        @if (User.Identity.IsAuthenticated)
        {
            @:var activeDates = {}
            foreach (var activity in Model.Activites)
            {
                @: var csharpDate = "@activity.Summary.StartDate.Value.Date.ToString()"
                @: var date = new Date(Date.parse(csharpDate))
                @: activeDates[date] = date.toString()
            }

            @:var eventDates = {}
            @:eventDates[new Date('10/10/2019')] = new Date('10/10/2019').toString()
            @:$(function () {
            @:    $("#datepicker").datepicker({
            @:        beforeShowDay: function (date) {
            @:              var highlight = activeDates[date]
            @:              if (highlight) {
            @:                    console.log("highlighting" + date)
            @:                    return [true, "background-color: #007bff;", false]        
            @:                }
            @:                else {
            @:                  return [true, '', '']
            @:                }
            @:            }
            @:        });
            @:});
        }
        else
        {
            @:$(function () {
            @:    $("#datepicker").datepicker();
            @:})
        }
     
        $(document).ready( function () {
            $('#weeklyTable').DataTable({
                    paging: false,
                searching: false,
            });
        });
    </script>
    
    <script>
        $.ajax({
            url: '@Url.Action("LoadMap", "Map")',
            type: 'GET',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $('#mapDiv').html(result);
            }
        });
    </script>
}


