@using StravaVisualizer.Models.MonthSummary
@model MonthSummary
@{
    ViewData["Title"] = "Home Page";
}

<div id="homeDiv" class="wrapper margin-bottom container-space-around">
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="display-4 text-center">Visuals for your Strava data</h1>
        <p class="text-center margin-bottom">Login to view to a monthly summary of your Strava data. You can also see a history of all your run, ride, and all other activities on the <a asp-area="" asp-controller="Map" asp-action="LoadMap">Map</a> page.</p>
    }
    else
    {
        <h1 class="display-4 text-center margin-bottom">Visuals for your Strava data</h1>

    }

    <h3 class="text-center">Active days this month</h3>
    
    <div class="container-flex-wrap container-space-evenly margin-bottom">
        @*<img id="home_image_left" class="home-image margin-right container-with-shadow" src="~/Images/Home_GroundControl1.jpg" />*@       
        <div id="datepicker" class="home-item  container-with-shadow"></div>       
        @*<img id="home_image_left" class="fixed-med margin-bottom container-with-shadow" src="~/Images/Home_DanLLShuttle.jpg" />*@        
        
    </div>
          
    <h3 class="text-center">Activites this week</h3>
    <div id="weeklyTableDiv" class="home-item container-with-shadow">
        <table id="weeklyTable" class="compact">
            <thead class="table-row.header">
                <tr class="bg-dark text-light">
                    <th  style="white-space: nowrap;" >Name</th>
                    <th style="white-space: nowrap;" >Distance</th>
                    <th style="white-space: nowrap;" >Time</th>
                    <th style="white-space: nowrap;" >Type</th>
                    <th style="white-space: nowrap;" >Date</th>
                </tr>
            </thead>
            <tbody>

                @if (User.Identity.IsAuthenticated && Model != null)
                {                    
                    @foreach (var activity in Model.Activites)
                    {
                        if ((activity.Summary.StartDate.Value.Date.Day >= Model.WeekStartDate.Day) && (activity.Summary.StartDate.Value.Date.Day <= Model.WeekStartDate.Day + 6))
                        {
                            <tr>
                                <td style="white-space: nowrap;  >@activity.Summary.Name</td>
                                <td style="white-space: nowrap;" >@(Math.Round((float)activity.Summary.Distance / (float)1609.344)) miles</td>
                                <td style="white-space: nowrap;" >@(TimeSpan.FromSeconds((double)activity.Summary.ElapsedTime))</td>
                                <td style="white-space: nowrap;" >@activity.Summary.Type</td>
                                <td style="white-space: nowrap;" >@activity.Summary.StartDate.Value.Date.ToShortDateString()</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td style="white-space: nowrap;" >Lunch Run</td>
                        <td style="white-space: nowrap;" >4 mi</td>
                        <td style="white-space: nowrap;" >30:00</td>
                        <td style="white-space: nowrap;" >Run</td>
                        <td style="white-space: nowrap;" >Oct 15</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Scripts{

    <script>
        @if (User.Identity.IsAuthenticated && Model != null)
        {
            @:var activeDates = {}
            foreach (var activity in Model.Activites)
            {
                @: var csharpDate = "@activity.Summary.StartDate.Value.Date.ToString()"
                @: var date = new Date(Date.parse(csharpDate))
                @: activeDates[date] = date.toString()
            }

            @:var eventDates = {}
            @:eventDates[new Date('10/10/2019')] = new Date('10/10/2019').toString()
            @:$(function () {
            @:    $("#datepicker").datepicker({           
            @:        beforeShowDay: function (date) {
            @:              var highlight = activeDates[date]
            @:              if (highlight) {            
            @:                    return [true, "activity", '']
            @:                }
            @:                else {
            @:                  return [true, '', '']
            @:                }
            @:            }
            @:        });
            @:});
        }
        else
        {
            @:$(function () {
            @:    $("#datepicker").datepicker();
            @:})
        }

        $(document).ready( function () {
            $('#weeklyTable').DataTable({
                paging: false,
                searching: false,
                info: false,
                ordering: false,
                
            })
        })
    </script>
}


